<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pokemon Battle</title>
</head>
<body background="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Ha0T59ZIiq18yt35/cartoon-seamless-loop-clouds-animation-horizontal-video-of-clouds-floating-in-the-sky_rvmkkwpw__F0000.png">
	<h2 align= "Center">
	<img src="{{picture1}}" width="200" height="200">{{name1}} VS {{name2}} <img src="{{picture2}}" width="200" height="200">
	</h2> 
	<p align="Center"> 
	<img src="{{result['graph']}}" />
	<h2 align= "Center">{{result['prob']}}% {{result['win']}} Wins!</h2>
	</p>
	<p align="Center">
			<button type="button"><a href="http://localhost:5000/">Go Back to Battle</a></button>
		</p>
	<br>
</body>
</html>
