<!DOCTYPE html>

<head>
    <title>HOME</title>
</head>
<body style="background-size:cover" background="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Ha0T59ZIiq18yt35/cartoon-seamless-loop-clouds-animation-horizontal-video-of-clouds-floating-in-the-sky_rvmkkwpw__F0000.png">
    
    <form action="http://localhost:5000/hasil" method="post">
       <p align="Center">
            <img src=https://cdn.bulbagarden.net/upload/3/3c/Season8_logo.png width="500" height="200" >
       </p> 
        
        <p align="Center"> 
            <input name="pokemon1" type="text" placeholder="Insert First Pokemon..." style="border-radius: 5px; padding: 5px"/>
            <img src="https://static.comicvine.com/uploads/original/13/135728/4521099-9366942388-44897.png" width="50" height="50" >
            <input name="pokemon2" type="text" placeholder="Insert Second Pokemon..." style="border-radius: 5px; padding: 5px"/>
        </p>

        <p align="Center">
            <input type="submit" value="Battle!"/>
        </p>
    </form>
</body>
</html>