<!DOCTYPE html>

<head>
    <title>Pokeomn Not found</title>
</head>
<body style="background-size:cover" background="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Ha0T59ZIiq18yt35/cartoon-seamless-loop-clouds-animation-horizontal-video-of-clouds-floating-in-the-sky_rvmkkwpw__F0000.png">

    <p align="Center">
            <img src=https://cdn.bulbagarden.net/upload/3/3c/Season8_logo.png width="500" height="200" >
            <h1 align="Center"> Pokemon Not found Please try again...</h1>
       </p>
</h1>
<p align="Center">
    <button type="button"><a href="http://localhost:5000/">Back to home</a></button>
</p>
</body>
</html>